/* Сетка */

.main-header {
    border: 3px dashed green;
    margin-bottom: 60px;
    background-color: #000000;
    color: #ffffff;
}

.main-navigation a {
    display: block;
    padding: 25px 20px;

    color: #ffffff;
    text-decoration: none;    
}

.main-navigation a:hover {
    background-color: #242424;
}

.main-navigation  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    border: 3px dashed green;
}

.main-header-layout {
    display: flex;
    justify-content: space-between;
}

.main-header-layout::before {
    display: none;
}

.main-navigation {
    width: 780px;
    border: 3px dashed yellowgreen;
}

.user-block {
    float: right;
    max-width: 140px;
    border: 3px dashed yellowgreen;
}

.login {
    position: relative;

    display: inline-block;
    padding: 25px 20px;
    padding-left: 50px;

    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
}

.login:hover {
    background-color: #242424;
}

.login::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 20px;

    width: 18px;
    height: 18px;

    background: url("bg/login-icon.png") no-repeat;
    opacity: 0.3;
}

.login:hover::before{
    opacity: 1;
}



.index-logo {
    width: 368px;
    height: 204px;
    margin: auto;
    margin-left: auto;
    margin-bottom: 25px;
    border: 3px dashed palevioletred;
}

.features::before {
    display: none;
}

.features {
    display: flex;
    justify-content: space-between;
    border: 3px dashed red;
    margin-bottom: 80px;
}

.features-item {
    width: 300px;
    border: 3px dashed palevioletred;
}

.index-content {
    display: flex;
    justify-content: space-between;
    border: 3px dashed red;
    margin-bottom: 35px;
    padding: 50px 80px;
}

.index-content::before {
    display: none;
}

.index-content-left {
    width: 380px;
    border: 3px dashed palevioletred;
}
.index-content-right {
    width: 300px;
    border: 3px dashed palevioletred;
}

.main-footer .container::before {
    display: none;
}

.main-footer .container{
    display: flex;
    border: 3px dashed red;
}

.footer-contacts {
    width: 320px;
    margin-right: 60px;
    border: 3px dashed yellowgreen;
}

.footer-social {
    width: 140px;
    border: 3px dashed yellowgreen;
}

.developers-info {
    width: 140px;
    border: 3px dashed yellowgreen;
    margin-left: auto;
}

body {
    min-width: 960px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    color: white;
    background: #000000 url("bg/main-bg-img.png") no-repeat center top;
}



